In [83]:
CREATE TABLE Books_ass (
    Title VARCHAR(100) NOT NULL,
    ISBN VARCHAR(20) NOT NULL PRIMARY KEY ,
    Format VARCHAR(20),
    Price DECIMAL(10, 2),
    Cover VARCHAR(50),
    Publisher VARCHAR(50),
    Publisher_Address VARCHAR(100),
    Website VARCHAR(100),
);

In [5]:
CREATE TABLE Reviewers_ass (
    ReviewerID INT PRIMARY KEY,
    Name VARCHAR(50),
    Email VARCHAR(100)
);

In [84]:
CREATE TABLE Reviews_ass (
    ReviewID INT PRIMARY KEY,
    ReviewerID INT,
    ISBN VARCHAR(20),
    Title VARCHAR(100) NOT NULL,
    Details TEXT,
    Rating INT,
    FOREIGN KEY (ReviewerID) REFERENCES Reviewers_ass(ReviewerID),
    FOREIGN KEY (ISBN) REFERENCES Books_ass(ISBN)
);

In [90]:
INSERT INTO Books_ass (Title,ISBN, Format, Price, Cover, Publisher, Publisher_Address, Website) VALUES
    ('Harry potter 1','978-1234567890', 'Paperback', 19.99, 'PaperbackCover.jpg', 'BookCo', '123 Main St', 'www.bookco.com'),
    ('Harry Potter 2','978-9876543210', 'Ebook', 9.99, 'EbookCover.jpg', 'EbookPub', '456 Elm St', 'www.ebookpub.com'),
    ('Harry Potter 3','978-5678901234', 'Audiobook', 29.99, 'AudioCover.jpg', 'AudioBooks Inc.', '789 Oak St', 'www.audiobooksinc.com');

In [86]:
INSERT INTO Reviewers_ass (ReviewerID,Name, Email)
VALUES
    (1,'John Doe', 'john@example.com'),
    (2,'Jane Smith', 'jane@example.com'),
    (3,'Bob Johnson', 'bob@example.com');

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK__Reviewer__1616CFBDEA86879B'. Cannot insert duplicate key in object 'dbo.Reviewers_ass'. The duplicate key value is (1).

In [91]:
INSERT INTO Reviews_ass (ReviewID,ReviewerID, ISBN, Title, Details, Rating)
VALUES
    (1,1, '978-1234567890', 'Harry Potter 1', 'I loved this book. Highly recommended.', 5),
    (2,2, '978-1234567890', 'Harry Potter 2', 'Enjoyable book, but it could have been better.', 4),
    (3,1, '978-9876543210', 'Harry Potter 3', 'The ebook format is convenient for reading on the go.', 5),
    (4,3, '978-5678901234', 'Harry Potter 1', 'The audiobook narration was fantastic!', 5);

In [92]:
SELECT * from Books_ass;

Title,ISBN,Format,Price,Cover,Publisher,Publisher_Address,Website
Harry potter 1,978-1234567890,Paperback,19.99,PaperbackCover.jpg,BookCo,123 Main St,www.bookco.com
Harry Potter 3,978-5678901234,Audiobook,29.99,AudioCover.jpg,AudioBooks Inc.,789 Oak St,www.audiobooksinc.com
Harry Potter 2,978-9876543210,Ebook,9.99,EbookCover.jpg,EbookPub,456 Elm St,www.ebookpub.com

In [93]:
SELECT * from Reviews_ass;

ReviewID,ReviewerID,ISBN,Title,Details,Rating
1,1,978-1234567890,Harry Potter 1,I loved this book. Highly recommended.,5
2,2,978-1234567890,Harry Potter 2,"Enjoyable book, but it could have been better.",4
3,1,978-9876543210,Harry Potter 3,The ebook format is convenient for reading on the go.,5
4,3,978-5678901234,Harry Potter 1,The audiobook narration was fantastic!,5

In [94]:
SELECT * from Reviewers_ass;

ReviewerID,Name,Email
1,John Doe,john@example.com
2,Jane Smith,jane@example.com
3,Bob Johnson,bob@example.com

In [76]:
DROP TABLE Reviews_ass;

In [82]:
DROP TABLE Books_ass;